/*EXTRA SMALL MEDIA*/
@media (max-width: 767px){
	
	.section-title h2, .screenshot-title h2{
	    font-size: 28px;
	    font-weight: 700;
	    color:#648cff;
	    text-transform: uppercase;
	    margin-bottom: 15px;
	}
	
	header{
	    min-height: 700px;
	    background: url(../img/banner2.png) no-repeat;
	    background-size:cover;
	    background-position: center;
	    margin-bottom: 80px;

	}
	.logo-for-small{
		text-align: center;
	}
	.head-social-icons{
    		margin-top: 0px;
	}
	.social-for-small{
		text-align: center;
	}
	
	.head-social-icons ul li{
    		display: inline-block;
    		margin-left: 0px;
	}
	.head-social-icons ul li a{
	    color:#fff;
	    font-size: 28px;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	
	
	.banner-caption{
		text-align: center;
		margin-top: 100px;
	}
	.banner-caption h1{
		font-size: 24px;
	}
	.banner-text{
	    color:#fff;
	    margin-top: 20px;
	    text-align: center;
	}
	.banner-btns{
   	 margin-top: 30px;
   	 text-align: center;
	}
	.download-btn{
	display: inline-block;
	    background-color:#fc6a42;
	    border:none;
	    font-size: 18px;
	    font-weight: 700;
	    width:155px;
	    height: 53px;
	    padding-top:13px;
	    border:none;
	    margin-right: 10px;
	    margin-bottom: 15px;
	}

	.feature-btn{
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.single-feature{
		margin-bottom: 40px;
	}

	.single-screenshot{
		text-align: center;
		margin-top: 20px;
	}
	.cloudy-screenshot-row{
    	margin-top: 20px;
	}
	.screenshot-img{
        text-align: center!important;
	}

	.screenshot-img .img-responsive{
	    display: inline-block;
	}

	
	.single-quote:before{
	    position: absolute;
	    content:'';
	    background: url(../img/q-left.png) no-repeat 0 0;
	    background-size: 20px;
	    width:20;
	    height: 20;
	    top:-20px;
	    left:0;

	}

	.single-quote:after{
	    position: absolute;
	    content:'';
	    background: url(../img/q-right.png) no-repeat 0 0;
	    background-size: 20px;
	    width:20px;
	    height: 20px;
	    bottom:-20px;
	    right:0;
	}
	
	

	.footer-nav ul li{
    display: block;
	}
	.footer-social-icons{
		text-align: center;
	}
	.footer-social-icons ul li{
    margin-left: 0px;
	}
	.footer-social-icons ul li a{
	    
	    padding-right: 10px;
	    padding-left: 10px;
	}
	.footer-logo{
		text-align: center;
	}


	.download-section:after{
        position: absolute;
        content:content:url(../img/mobiles.png);
        width:100%;
        height: 100%;
        top:65px;
        left:0px;
        z-index: -2;
    }
	.download-section:before{
        position: absolute;
        content:'';
        width:100%;
        height: 100%;
        top:0;
        left:0;
        background-color: rgba(0,0,0,0.4);
        z-index: -1;
    }
	.download-content p{
		margin-bottom: 15px;
	}
	.appstore-img{
		display: inline-block;
    		margin-bottom: 15px;
    		box-shadow: 0px 0px 15px 0px #ededf2;
	}
	.play-img{
		display: inline-block;
		margin-bottom: 30px;
		box-shadow: 0px 0px 15px 0px #ededf2;
	}
	.download-btns{
		margin-top: 10px;
	}
	
	.copyright{
    	text-align: center;
	}
}



/*SMALL MEDIA*/
@media (min-width: 768px) and (max-width: 991px){
	.logo-for-small{
		text-align: center;
	}
	.head-social-icons{
    		margin-top: 0px;
	}
	.social-for-small{
		text-align: center;
	}

	
	.head-social-icons ul li{
   		 display: inline-block;
  		  margin-left: 0px;
	}
	.head-social-icons ul li a{
	    color:#fff;
	    font-size: 28px;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	
	
	.banner-caption h1{
		font-size: 36px;
	}
	.banner-text{
	    color:#fff;
	    margin-top: 20px;
	}
	.banner-btns{
   	 margin-top: 30px;
	}
	.single-feature{
		margin-bottom: 60px;
	}
	.footer-social-icons{
		text-align: center;
	}
	.footer-logo{
		text-align: center;
	}

	.single-screenshot{
		text-align: center;
		margin-top: 20px;
	}

	.screenshot-img{
        text-align: center!important;
	}

	.screenshot-img .img-responsive{
	    display: inline-block;
	}
	.download-section:after{
        position: absolute;
        content:content:url(../img/mobiles.png);
        width:100%;
        height: 100%;
        top:65px;
        left:100px;
        z-index: -2;
    }
	.download-section:before{
        position: absolute;
        content:'';
        width:100%;
        height: 100%;
        top:0;
        left:0;
        background-color: rgba(0,0,0,0.4);
        z-index: -1;
    }
	.appstore-img{
		display: inline-block;
    	margin-bottom: 15px;
    	box-shadow: 0px 0px 15px 0px #ededf2;
	}
	.play-img{
		display: inline-block;
		margin-bottom: 30px;
		box-shadow: 0px 0px 15px 0px #ededf2;
	}
	
	
	.single-quote:before{
	    position: absolute;
	    content:'';
	    background: url(../img/q-left.png) no-repeat 0 0;
	    background-size: 30px;
	    width:30;
	    height: 30;
	    top:-30px;
	    left:0;

	}

	.single-quote:after{
	    position: absolute;
	    content:'';
	    background: url(../img/q-right.png) no-repeat 0 0;
	    background-size: 30px;
	    width:30px;
	    height: 30px;
	    bottom:-30px;
	    right:0;
	}
	
	
	
	.copyright{
    	text-align: center;
	}

}
	


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
	
}


/*LARGE MEDIA*/
@media (min-width: 1200px) {
	
	
}
